.hello {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

.user {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
}

.ok, .not, .wait {
  font-size: 24px;
  font-weight: 700;
  color: #2fa10a;
}

.not, .num {
  color: red;
}

.wait {
  color: #0095e5;
}

.nameBook {
  margin-top: 16px;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 16px;
}

.renovationBook {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.prise {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #F1592B;
  margin-top: 5px;
}

.imgesBooks {
  width: 100%;
  height: 330px;
}

.textBooks {
  margin-top: 23px;
}

.delete {
  width: 100%;
  height: 42px;
  display: grid;
  place-items: center;
  background: #F1592B;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
}